{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Estadisticas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horarios</a>
    </li>
     {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crear
            </a>
           <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/crearComp">Competencia</a></li>
              <li><a class="dropdown-item" href="/crearHorario">Horario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/crearJug">Jugador</a></li>
              <li><a class="dropdown-item" href="/crearEqui">Equipo</a></li>
             <li><a class="dropdown-item" href="/crearGrup">Grupo</a></li>
           </ul>
       </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}


{% block contenido %}
 <form method="Post">
    <section class="contlog forms">
             {% csrf_token %}
            <div class="form login" >
                <div class="form-content">
                    <hl>Iniciar Sesion</hl>
                    {{ form|crispy }}
                    <div class="field button-field" type="submit">
                        <button>Acceder</button>
                    </div>
                    <div class="form-link">
                        <span>Aún no tienes cuenta? <a href="{% url 'registro' %}">Registrarse</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="field google">
                        <img src="{% static 'img/google.png' %}" alt="" class="google-img">
                        <span>Iniciar sesion con Google</span>
                    </a>
                </div>
            </div>
    </section>
 </form>
{% endblock %}