<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-Lateral</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="bg-dark">
    <div class="menu">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-icon name="close-circle-outline"></ion-icon>
    </div>
    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="cloud"name="logo-google-playstore"></ion-icon>
                <span>UNL</span>

            </div>

              <button class="boton">
                  <a href="/crear">
                    <ion-icon name="add-outline"></ion-icon>
                  </a>
                   <span>Crear</span>
              </button>

        </div>
        <nav class="navegacion">
            <ul>
                <li>
                    <a id="inicio" href="/">
                        <ion-icon name="body-outline"></ion-icon>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a id="horario" href="/Horario">
                        <ion-icon name="browsers-outline"></ion-icon>
                        <span>Horarios</span>
                    </a>
                </li>
                <li>
                    <a id="competencia" href="/competencias">
                        <ion-icon name="football-outline"></ion-icon>
                        <span>Competencia</span>
                    </a>
                </li>
                <li>
                    <a id="equipos" href="/equipos">
                        <ion-icon name="layers-outline"></ion-icon>
                        <span>Equipos</span>
                    </a>
                </li>
                <li>
                    <a id="grupos" href="/grupos">
                        <ion-icon name="people-outline"></ion-icon>
                        <span>Grupos</span>
                    </a>
                </li>
                <li>
                    <a id="jugadores" href="/competidores">
                        <ion-icon name="people-circle-outline"></ion-icon>
                        <span>Jugadores</span>
                    </a>
                </li>
                <li>
                    <a id="tabla" href="#">
                        <ion-icon name="tablet-portrait-outline"></ion-icon>
                        <span>Tabla</span>
                    </a>
                </li>
                <li>
                    <a id="resultados" href="#">
                        <ion-icon name="filter-circle-outline"></ion-icon>
                        <span>Resultados</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea">
               {% if request.user.is_authenticated %}
                   <div class="usuario py-5">
                        <img src="{% static 'img/usuario.jpg' %}" alt="">
                        <div class="info-usuario">
                            <div class="nombre-email">
                               <span class="nombre">{{ user.username | upper }}</span>
                                <span class="email">{{ user.email}}</span>
                            </div>
                         </div>
                   </div>
                    <a href={% url 'salir' %}>
                        <button class="btn btn-sm btn-light">salir</button>
                    </a>
               {% else %}
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <a href={% url 'login' %}>
                           <button class="btn btn-sm btn-light ">Iniciar sesión</button>
                   </a>
                   <a  class="mx-2" href={% url 'registro' %}>
                       <button class="btn btn-sm btn-light">Registrarse</button>
                   </a>
               {% endif %}

            </div>
        </div>
    </div>



    <main>
         {% block content %}
         {% endblock %}
    </main>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'java/base.js' %}"></script>
</body>
</html>
