
<nav>
    <ul>
        <li>
            <a href="/">Inicio/</a>
            <a href="/crearComp">Competencia/</a>
            <a href="/crearHorario">crear Horario/</a>
            <a href="/crearGrup">Grupo/</a>
            <a href="/Horario">Horario/</a>
            <a href="/crearTemp">Temporada/</a>
            <a href="/crearDepo">Deporte/</a>
            <a href="/crearEqui">Equipo/</a>
            <a href="/crearJug">Jugador/</a>
            <a href="/inicioSecion">Salir/</a>
            <a href="/registro">Registrarse/</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}
