{% extends "base_crear.html" %}


{% block contenido %}

<section class="contcrea forms">
        <div class="formcrea login" >
            <div class="form-content">
                <hl>Temporada</hl>
                <h5>Ingrese los datos de la temporada:</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field button-field" type="submit">
                        <button>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}
```