{% extends 'base.html' %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Noticias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'crear' %}">Crear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}

<!-- Generacion de deportes-->
{% block contenido %}
    <h1>Deporte</h1>
    <p> Ingrese los datos del deporte!</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
```