{% extends 'base.html' %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Noticias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horario</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'crear' %}">Crear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}


{% block contenido %}
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/crearComp">Competencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/crearEqui">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/crearHorario">Horario</a>
        </li>
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/crearGrup">Grupo</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/crearJug">Jugador</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}