{% extends "base_crear.html" %}

{% block contenido %}
<section class="contcrea forms">
         {% csrf_token %}
        <div class="formcrea login" >
            <div class="form-content">
                <hl>Competencia</hl>
                <h5>Ingrese los datos de la competencia:</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field button-field" type="submit">
                        <button>Crear Competencia</button>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}
```