{%  extends 'base_sports.html' %}
{% block titulo %}Futbol{% endblock %}
{% block contenido %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../static/img/portf1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Loja's Champions </h5>
        <p class="card-text">Inicio: </p>
        <p class="card-text">Fin: </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/portf1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Compeonato Computacion 2023</h5>
        <p class="card-text">Inicio: {{ temporada.nombre }} </p>
        <p class="card-text">Fin: </p>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../static/img/portf1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fuchibol 2do A</h5>
        <p class="card-text">Inicio: </p>
        <p class="card-text">Fin: </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/portf1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ultimo Gol Gana Season 2023</h5>
        <p class="card-text">Inicio: </p>
        <p class="card-text">Fin: </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
```