{% extends 'base.html' %}
{% load static %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Noticias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horario</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="{% url 'crear' %}">Crear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}

{% block contenido %}
<section class="service_section layout_padding">
{% for deporte in deportes %}
  {% if deporte.grupo_set.all %}
    <div class="service_container">
      <div class="container">
        <div class="heading_container">
          <h2>
            Grupos de {{ deporte.nombre }}
          </h2>
        </div>
        <div class="accordion" id="accordion-{{ deporte.id }}">
          {% for grupo in deporte.grupo_set.all %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ grupo.id }}" aria-expanded="false" aria-controls="collapse-{{ grupo.id }}">
                  <strong>{{ grupo.nombre }}</strong>
                </button>
              </h2>
              <div id="collapse-{{ grupo.id }}" class="accordion-collapse collapse">
                <div class="accordion-body">
                  {% for equipo in grupo.equipo_set.all %}
                    {{ equipo.nombre }}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
</section>
{% endblock %}
```