{% extends 'base.html' %}

{% block titulo %} Horarios {% endblock %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Noticias</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horarios</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Crear
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/crearComp">Competencia</a></li>
        <li><a class="dropdown-item" href="/crearHorario">Horario</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/crearJug">Jugador</a></li>
        <li><a class="dropdown-item" href="/crearEqui">Equipo</a></li>
        <li><a class="dropdown-item" href="/crearGrup">Grupo</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}



{% block contenido %}
       {% for horario in horarios  %}
           <h1>Horario de {{ horario.deporte.nombre }}</h1>
           <p style="color: aliceblue">NUMERO DE CANCHAS: {{ horario.numCanchas }}</p>
           <table class="table table-success table-striped" >
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Partido</th>
                        <th>Cancha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in horario.partido_set.all %}
                        <tr>
                            <td>{{ partido.numFecha }}</td>
                            <td>{{ partido.equipo_local }} vs {{ partido.equipo_visitante }}</td>
                            <td>{{ partido.cancha }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
           </table>
       {% endfor %}
{% endblock %}