{% extends 'base.html' %}

{% block titulo %} Horarios {% endblock %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Estadisticas</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horarios</a>
    </li>
    {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crear
            </a>
           <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/crearComp">Competencia</a></li>
               <li><a class="dropdown-item" href="/crearTemp">Temporada</a></li>
              <li><a class="dropdown-item" href="/crearHorario">Horario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/crearJug">Jugador</a></li>
              <li><a class="dropdown-item" href="/crearEqui">Equipo</a></li>
              <li><a class="dropdown-item" href="/crearGrup">Grupo</a></li>
               <li><a class="dropdown-item" href="/crearDepo">Deporte</a></li>
           </ul>
       </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}



{% block contenido %}
<section class="service_section layout_padding">
 <div class="service_container">
  <div class="container ">
<div class="nav nav-tabs" id="horarios-tab" role="tablist">
  {% for horario in horarios %}
    <button class="nav-link {% if forloop.first %}active{% endif %}" id="horario-{{ horario.id }}-tab" data-bs-toggle="tab" data-bs-target="#horario-{{ horario.id }}" type="button" role="tab" aria-controls="horario-{{ horario.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
      <h5 style="color: #0f0700">{{ horario.deporte.nombre }} </h5>
    </button>
  {% endfor %}
</div>

<div class="tab-content" id="horarios-tab-content">
  {% for horario in horarios %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="horario-{{ horario.id }}" role="tabpanel" aria-labelledby="horario-{{ horario.id }}-tab" tabindex="0">
        <strong><p style="color: #0f0700">Numero de canchas: {{ horario.numCanchas }}</p></strong>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Encuentro</th>
            <th>Cancha</th>
          </tr>
        </thead>
            <tbody>
              {% for partido in horario.partido_set.all %}
                <tr>
                  <td>
                    {% if partido.numFecha == 1 %}
                      Lunes
                    {% elif partido.numFecha == 2 %}
                      Martes
                    {% elif partido.numFecha == 3 %}
                      Miércoles
                    {% elif partido.numFecha == 4 %}
                      Jueves
                    {% elif partido.numFecha == 5 %}
                      Viernes
                    {% elif partido.numFecha == 6 %}
                      Sábado
                    {% elif partido.numFecha == 7 %}
                      Domingo
                    {% endif %}
                  </td>
                  <td>{{ partido.hora }}</td>
                  <td>{{ partido.equipo_local }} vs {{ partido.equipo_visitante }}</td>
                  <td>{{ partido.cancha }}</td>
                </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>
  {% endfor %}
</div>
    </div>
  </div>
</section>
{% endblock %}