{%  extends 'base.html' %}
{% load static %}

{% block titulo %}Dezz - SportApp{% endblock %}

{% block barra %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'news' %}">Noticias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horarios</a>
    </li>
     {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crear
            </a>
           <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/crearComp">Competencia</a></li>
               <li><a class="dropdown-item" href="/crearTemp">Temporada</a></li>
              <li><a class="dropdown-item" href="/crearHorario">Horario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/crearJug">Jugador</a></li>
              <li><a class="dropdown-item" href="/crearEqui">Equipo</a></li>
             <li><a class="dropdown-item" href="/crearGrup">Grupo</a></li>
               <li><a class="dropdown-item" href="/crearDepo">Deporte</a></li>
           </ul>
       </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}

{% block contenido %}
    <!-- slider section -->
    <br><br>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/bg1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/bg2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/bg3.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
    <!-- end slider section -->



  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Deportes
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'img/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Futbol
                </h5>
                <p>
                  El deporte más popular del mundo y se juega en numerosos países en diferentes niveles, desde aficionados hasta profesionales.
                </p>
                <a href="">
                  Ir a
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'img/s2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Baloncesto
                </h5>
                <p>
                  Destacado por su ritmo rápido, movimiento constante y habilidades de driblar, pasar y disparar. Es ampliamente practicado y disfrutado en todo el mundo.
                </p>
                <a href="">
                  Ir a
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'img/s3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ajedrez
                </h5>
                <p>
                  Juego de estrategia y habilidades tácticas, y ha sido considerado como un deporte intelectual, ya que requiere pensamiento estratégico y planificación para tener éxito.
                </p>
                <a href="">
                  Ir a
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'img/s4.png' %}" alt="">
              </div><br>
              <a class="btn btn-outline-dark" href="{% url 'sports' %}" role="button">
                Mas Deportes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

 <!-- project section -->

 <section class="project_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Noticias
      </h2>
    </div>
  </div>
</section>

<!-- end project section -->


  <!-- why us section -->

{#  <section class="why_us_section layout_padding">#}
{#    <div class="container">#}
{#      <div class="heading_container">#}
{#        <h2>#}
{#          Why Choose Us?#}
{#        </h2>#}
{#      </div>#}
{#      <div class="why_us_container">#}
{#        <div class="box">#}
{#          <div class="img-box">#}
{#            <img src="{% static 'img/w1.png' %}" alt="">#}
{#          </div>#}
{#          <div class="detail-box">#}
{#            <h5>#}
{#              Project done on time#}
{#            </h5>#}
{#            <p>#}
{#              Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,#}
{#              making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in#}
{#              Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and#}
{#              going through the#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#        <div class="box">#}
{#          <div class="img-box">#}
{#            <img src="static/images/w2.png" alt="">#}
{#          </div>#}
{#          <div class="detail-box">#}
{#            <h5>#}
{#              Always avaliable#}
{#            </h5>#}
{#            <p>#}
{#              Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,#}
{#              making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in#}
{#              Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and#}
{#              going through the#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#        <div class="box">#}
{#          <div class="img-box">#}
{#            <img src="static/images/w3.png" alt="">#}
{#          </div>#}
{#          <div class="detail-box">#}
{#            <h5>#}
{#              Professional and responsible#}
{#            </h5>#}
{#            <p>#}
{#              Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,#}
{#              making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in#}
{#              Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and#}
{#              going through the#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="btn-box">#}
{#        <a href="">#}
{#          Read More#}
{#        </a>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}

  <!-- end why us section -->
{% endblock %}