{%  extends 'base.html' %}
{%  load static %}
{% block titulo %}Deportes{% endblock %}

{% block barra %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'sports' %}">Deportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Grupos' %}">Grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'graficas' %}">Estadisticas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ver Horario' %}">Horarios</a>
    </li>
     {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crear
            </a>
           <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/crearComp">Competencia</a></li>
               <li><a class="dropdown-item" href="/crearTemp">Temporada</a></li>
              <li><a class="dropdown-item" href="/crearHorario">Horario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/crearJug">Jugador</a></li>
              <li><a class="dropdown-item" href="/crearEqui">Equipo</a></li>
             <li><a class="dropdown-item" href="/crearGrup">Grupo</a></li>
               <li><a class="dropdown-item" href="/crearDepo">Deporte</a></li>
           </ul>
       </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"> Acerca de</a>
    </li>
{% endblock %}

{% block contenido %}
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
         <div class="heading_container">
           <h2>
            Deportes Individuales
          </h2>
         </div>
          {% for deporte in deportes %}
             {% if deporte.esPorEquipos == False %}
                 <div class="row">
                     <div class="col-md-6 col-lg-3">
                         <div class="box ">
                            <div class="detail-box">
                                 <h5>
                                   {{ deporte.nombre }}
                                 </h5>
                                  <p>
                                    {{ deporte.descripcion }}
                                  </p>
{#                                  <a href="">#}
{#                                     Ir a#}
{#                                  </a>#}
                            </div>
                         </div>
                     </div>
                 </div>
             {% endif %}
          {% endfor %}
      </div>
    </div>
      <div class="service_container">
        <div class="container ">
            <div class="heading_container">
               <h2>
                   Deportes en Equipo
              </h2>
            </div>
          {% for deporte in deportes %}
             {% if deporte.esPorEquipos == True %}
                 <div class="row">
                     <div class="col-md-6 col-lg-3">
                         <div class="box ">
                            <div class="detail-box">
                                 <h5>
                                   {{ deporte.nombre }}
                                 </h5>
                                  <p>
                                    {{ deporte.descripcion }}
                                  </p>
{#                                  <a href="">#}
{#                                     Ir a#}
{#                                  </a>#}
                            </div>
                         </div>
                     </div>
                 </div>
             {% endif %}
          {% endfor %}
        </div>
      </div>
  </section>

  <!-- end service section -->
{% endblock %}
```