:root {
    --color-base: #ffffff;
    --color-1: #f3f6f9;
    --color-2: #d0d4dd;
}

body {
    background: -webkit-linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
    background: linear-gradient(to right, var(--color-base), var(--color-1), var(--color-2), var(--color-2), var(--color-1), var(--color-2), var(--color-base));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.chart{
    width:100%;
    min-height: 400px;
}
